
.is-hidden {
    display: none;
}
.chapter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.chapter.is-hidden{
    display: none; 
}
.list {
    display: flex;
   flex-wrap: wrap;
    gap: 20px;
    align-items: center; 
}